<div class="container mt-4">
  <h2>Audit Logs</h2>

  <div class="row mb-3">
    <div class="col-md-4">
      <input type="text" class="form-control" [(ngModel)]="entityType" placeholder="Entity Type">
    </div>
    <div class="col-md-4">
      <input type="text" class="form-control" [(ngModel)]="entityId" placeholder="Entity ID">
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary" (click)="filter()">Filter</button>
    </div>
  </div>

  <div *ngIf="loading" class="text-center">
    <div class="spinner-border" role="status"></div>
  </div>

  <table *ngIf="!loading" class="table table-striped">
    <thead>
      <tr>
        <th>Timestamp</th>
        <th>User</th>
        <th>Action</th>
        <th>Entity</th>
        <th>Changes</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let log of auditLogs">
        <td>{{ log.timestamp | date:'short' }}</td>
        <td>{{ log.userId }}</td>
        <td>{{ log.action }}</td>
        <td>{{ log.entityType }} #{{ log.entityId }}</td>
        <td>{{ log.changes }}</td>
      </tr>
    </tbody>
  </table>
</div>
