"target/" 
"*.jar" 
".idea/" 
"*.iml" 
# --- Flutter / Dart ---
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
# --- Logs e Backups ---
logs/
*.log
*.bak
*.backup
*.disabled
