target/
*.jar
.idea/
*.iml 
# --- Flutter / Dart ---
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
# --- Logs e Backups ---
logs/
*.log
*.bak
*.backup
*.disabled
# --- Node / Angular ---
node_modules/
dist/
.angular/

# --- Python ---
__pycache__/
*.pyc

# --- Terraform ---
.terraform/
*.tfstate
*.tfstate.backup

# --- SO e IDEs adicionais ---
.DS_Store
