spring:
  profiles:
    active: local
  application:
    name: kyc-service
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}

server:
  port: ${SERVER_PORT:8101}

kyc:
  cpf:
    provider: ${KYC_CPF_PROVIDER:serpro} # serpro, serasa
  biometric:
    provider: ${KYC_BIOMETRIC_PROVIDER:facetec} # facetec

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.benefits.kycservice: DEBUG
