spring:
  profiles:
    active: local
  application:
    name: privacy-service
server:
  port: 8103
management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
