spring:
  profiles:
    active: local
  application:
    name: webhook-receiver
server:
  port: 8105
management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
